body {
    padding-bottom: 20px;
    background-color: #f8ead7;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.blur {
}

.blur:hover {
}

a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
    color: #666;
}

h3 {
    font-size: 20px;
}

h2 a {
    color: #444;
    text-decoration: underline;
    text-shadow: 1px 1px 0 #E5D4C0;
}

h2 a:hover, h2 a:visited:hover {
    color: #777;
    text-decoration: none;
}

h2 a:visited {
    color: #8d7054;
}

.library-index{
    display: block;
    text-align: center;
    text-shadow: 4px 2px 0 #E5D4C0;
    color: #5c3f12
}

.btn-danger{
    background-image: none !important;
    background-color: #c76e66 !important;
    border-color: #551d0b !important;
}

.btn-success{
    background-image: none;
    background-color: #f6ac75 !important;
    border-color: #c79b81 !important;
    color: #222 !important;
    box-shadow: rgba(0,0,0,0.4) 1px 2px 2px;
}

.btn-success:hover{
    background: #dd724e !important;
    border-color: #dd724e !important;
}

a.disabled{
    color: #999 !important;
}

.view{
    position: relative;
    width: 70%;
    background-color: rgba(241, 196, 15, 0.1);
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    padding-bottom: 50px;
}

.publisher{
    position: relative;
    margin-left: 10px;
    font-size: 25px;
}

nav{
    height: 80px;
    background-color: #f6d082;
    box-shadow: 0 0 5px 0 #333;
}

nav a{
    position: relative;
    display: block;
    margin-top: 20px;
}

.item{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logging {
    position:relative;
    width: 80px;
    margin-left: 70%;
}

.search input[type="search"]{
    max-width: 800px;
    width: 40%;
    height: 30px;

    background: #fefbf6;
    border: 1px solid #c28157;
    font-size: 20px;
    float: left;
    color: #222;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:relative;
    margin-top: -30px;
    margin-left: 25%;
}

.icon {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 64px;
    height: 64px;
    content: '';
    background: url(/Content/books78.png);
    background-repeat: no-repeat;
}

.logo{
    margin-top: 0px;
}

#login{
    left: 22px;
}

#password{
    left: 8px;
}

#login, #password{
    position: relative;
    top: 0px; 
    background: #fefbf6;
    border: 1px solid #e1b9ac;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 7px;
}

.login-password label{
    font-weight: normal;
    font-size: 17px;
}

.login-password h2{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    color: #111;
    text-shadow: 1px 1px 1px rgba(99, 99, 99, 0.4);
}

.login-password .view{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.editor-field{
    display: block;
    padding-left: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-password input[type = submit]{
    display: block;
    width: 80px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}