body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.blur {
/* firefox uses SVG filters */
filter: url(#A);
/* IE specific */
filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10);

-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-ms-filter: blur(5px);
-o-filter: blur(5px);
filter: blur(5px);

color: #666;
}

.blur:hover {
/* firefox uses SVG filters */
filter: url(#B);
/* IE specific */
filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10);

-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-ms-filter: blur(0px);
-o-filter: blur(0px);
filter: blur(0px);

color: #000;
}

.modal-body {
         width: 800px !important;
         margin: 100px auto !important;
         display: block;
     }

div.alert, div.alert-warning::before{
    content:'';
    display:block;
    clear:both;

}
div.alert, div.alert-warning::after{
    content:'';
    display:block;
    clear:both;

}

.modal-body h2 {
    text-align:center;
}S
.modal-body h1 {
    color: black;
}