@model Library.Models.Record
@{
    ViewBag.Title = "Добавить материал";
}

<h2>Создать новую книгу</h2>
@{Html.BeginForm("Add", "Records", FormMethod.Post, new { enctype = "multipart/form-data" });}
<fieldset>
    <div class="editor-field">
        <label>Название</label>
        @Html.TextBoxFor(record => record.RecordName)  
    </div>
    <div class="editor-field">
        <label>Описание</label>
        @Html.TextBoxFor(record => record.RecordDescription)
    </div>
    <input type="file" name="fileUpload" /><br />
    <input type="submit" value="Отправить" />
</fieldset>
@{Html.EndForm();}