@model Library.Models.Record

<div class="modal-body">
    <div class="alert alert-warning">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <h1>Название:</h1>
            </div>
            <div class="col-md-8 col-xs-6">
                <h2>@Model.RecordName</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-6">
                <h1>Издательство:</h1>
            </div>
            <div class="col-md-8 col-xs-6">
                <h2>@Model.Author.PublisherName</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-6">
                <h1>Описание:</h1>
            </div>
            <div class="col-md-8 col-xs-6">
                <h2>@Model.RecordDescription</h2>
            </div>
        </div>
     </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>