@model Library.Models.Record

    <div>
        <h4>Record</h4>
        <hr />
        <dl class="dl-horizontal">
               <h5>@Html.DisplayFor(model => model.RecordName)</h5>
   
        </dl>
    </div>

