
@model Library.Models.AdminLoginModel
@{
    ViewBag.Title = "Админка";
}

<h2> Управление библиотекой </h2>
<div class="view admin">
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
    <a href="Records/Add"><div class="btn btn-success">Добавить книгу</div></a>
</div>
