@{
    ViewBag.Title = "Список издательств";
}

@model IEnumerable<Library.Models.Publisher>
<div>
    <h1 class="library-index">
        Список издателей.
    </h1>
</div>

<div class="container view">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="title">
                    <h2>
                        @Html.ActionLink(item.PublisherName, "Publisher/" + item.PublisherId)
                    </h2>
                </div>
                <h4 class="header">@Html.DisplayFor(modelItem => item.PublisherName)</h4>
                <h4 class="header">@Html.DisplayFor(modelItem => item.Address)</h4>
            </div>
        }
    </div>

</div>

